.primary-button {
  padding: 12px;
  font-size: 13px;
  text-align: center;
  color: #FFFFFF;
  background-color: var(--primary-color);
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}