.settings {
  width: 100%;
  height: 100vh;
  display: flex;
}

.settings__back {
  width: 64px;
  height: 100%;
  background-color: #FBFBFB;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #EAEAEA;
  cursor: pointer;
  transition: background .3s;
}

.settings__back:hover {
  background-color: var(--primary-hover-color);
}

.settings__back-button {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}

.settings__back-button:focus {
  outline: 2px solid var(--primary-outline-color);
}

.settings__content {
  padding-top: 60px;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow-y: auto;
}

.settings__avatar {
  min-height: 130px;
  min-width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #CDCDCD;
  font-size: 60px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.settings__avatar:hover .settings__avatar-change {
  opacity: 1;
}

.settings__avatar-change {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  color: #FFFFFF;
  opacity: 0;
  transition: opacity .3s;
}

.settings__user-name {
  margin: 20px 0 0;
  font-size: 16px;
}

.settings__form {
  margin-top: 60px;
  width: 100%;
  max-width: 510px;
}

.settings__button:not(:last-child) {
  border-bottom: 1px solid #EAEAEA;
}

.settings__buttons {
  margin-top: 60px;
  width: 100%;
  max-width: 510px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.settings__button {
  font-size: 13px;
  width: 100%;
  padding: 10px 0;
  text-align: left;
}

.change-avatar-modal__input-file {
  margin-top: 40px;
}

.change-avatar-modal__submit {
  margin-top: 60px;
  width: 100%;
}