$primary-text-color: #1E1E1E;
$secondary-text-color: #999999;
$primary-color: #3369F3;
$secondary-bg-color: #EFEFEF;
$primary-hover-color: #E4EDFD;
$primary-border-color: #EAEAEA;
$primary-outline-color: rgba(51, 105, 243, .7);
