$primary-text-color: #1e1e1e;
$secondary-text-color: #999;
$primary-color: #3369f3;
$secondary-bg-color: #efefef;
$primary-hover-color: #e4edfd;
$primary-border-color: #eaeaea;
$primary-outline-color: rgba(51, 105, 243, 0.7);
