@import "../../styles/variables.scss";
@import "./components/AddChatModal/AddChatModal.scss";
@import "./components/Chat/Chat.scss";

.chats {
  display: flex;
  width: 100%;
  height: 100vh;
}

.chat-select {
  min-width: 310px;
  height: 100%;
  background-color: #FBFBFB;
  border-right: 1px solid $primary-border-color;
  padding: 20px 0 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.chat-select__navigation {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-flow: column;
}

.profile-button {
  align-self: flex-end;
  font-size: 12px;
  color: $secondary-text-color;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;

  &:focus {
    outline: 2px solid $primary-outline-color;
  }
}

.profile-button__icon {
  margin-left: 8px;
}

.chat-select__search {
  margin-top: 20px;
}

.chat-list {
  padding: 0;
  margin: 15px 0 0;
  list-style: none;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.chat-list::-webkit-scrollbar {
  width: 0 !important
}

.chat-list { 
  overflow: -moz-scrollbars-none; 
}

.chat-list {
  -ms-overflow-style: none;
}

.chat-list__item {
  padding: 0 10px;
  cursor: pointer;
  transition: background .3s;

  &:hover {
    background-color: $primary-hover-color;
  }

  &:first-child .chat-list__item-content {
    border-top: 1px solid $primary-border-color;
  }
}

.chat-list__item-content {
  padding: 12px 0;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $primary-border-color;
}

.chat-list__avatar {
  position: relative;
}

.chat-list__info {
  margin-left: 10px;
  position: relative;
}

.chat-list__name {
  font-weight: 600;
  font-size: 13px;
}

.chat-list__message {
  margin-top: 4px;
  font-size: 12px;
  color: $secondary-text-color;
  max-width: 200px;
  max-height: 30px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.chat-list__sender {
  color: #1E1E1E;
}

.chat-list__sending-time {
  position: absolute;
  top: 12px;
  right: 0;
  font-size: 9px;
  color: $secondary-text-color;
}

.chat-list__count {
  position: absolute;
  bottom: 12px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $primary-color;
  font-size: 11px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-select__add-button {
  margin-bottom: 20px;
  width: 90%;
}

.user-modal__user-list {
  margin-top: 20px;
  max-height: 140px;
  overflow-y: auto;
}

.user-modal__user-list-item {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-modal__user-info {
  display: flex;
  align-items: center;
}

.user-modal__user-name {
  font-weight: 600;
  font-size: 13px;
  margin-left: 15px;
}

.user-modal__add-icon,
.user-modal__remove-icon {
  cursor: pointer;
}

.user-modal__remove-icon {
  color: #FF0000;
}
