@import "../../styles/variables.scss";

.primary-button {
  padding: 12px;
  font-size: 13px;
  text-align: center;
  color: #FFFFFF;
  background-color: $primary-color;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  &:focus {
    outline: 2px solid $primary-outline-color;
  }
}
