* {
  box-sizing: border-box;
}

body {
  color: #1E1E1E;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

/* CARD */

.card {
  min-width: 340px;
  padding: 50px 30px 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
}

.card__title {
  text-align: center;
  margin: 0;
}

/* ERROR */

.error {
  color: #FF2F2F;
  font-size: 8px;
}

/* FIELD */

.field {
  width: 100%;
  padding-top: 9px;
  position: relative;
}

.field__label {
  font-size: 13px;
  line-height: 13px;
  color: #999999;
  position: absolute;
  bottom: 7px;
  left: 0;
  transition: all .2s;
}

.field__input:focus ~ .field__label,
.field__input:not([value=""]) ~ .field__label {
  transform: translateY(-20px);
  font-size: 9px;
}

.field__input-wrapper {
  position: relative;
}

.field__input {
  width: 100%;
  height: 27px;
  border: none;
  border-bottom: 1px solid #3369F3;
  padding: 7px 0;
  background-color: transparent;
  outline: none;
  font-weight: 500;
  font-size: 13px;
  color: #1E1E1E;
  z-index: 2;
  position: relative;
}

.field__error {
  margin-top: 7px;
}

/* PRIMARY BUTTON */

.primary-button {
  padding: 12px;
  font-size: 13px;
  text-align: center;
  color: #FFFFFF;
  background-color: #3369F3;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* EMPTY BUTTON */

.empty-button {
  padding: 0;
  background-color: transparent;
  color: #3369F3;
  font-size: 11px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* SEARCH */

.search {
  position: relative;
}

.search__input {
  text-align: center;
  background: #EFEFEF;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none;
}

.search__icon {
  position: absolute;
  color: #999999;
  top: 9.5px;
  left: 105px;
}

.search__input:focus ~ .search__icon,
.search__input:not([value=""]) ~ .search__icon {
  display: none;
}

.search__input:focus::placeholder,
.search__input:not([value=""])::placeholder {
  opacity: 0;
}

/* AVATAR */

.avatar {
  width: 47px;
  height: 47px;
  background: #EFEFEF;
  border-radius: 50%;
}

/* OPTIONS */

.options {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-size: 12px;
  list-style: none;
  border-radius: 12px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  overflow: hidden;
}

.options__item {
  padding: 15px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.options__item:hover {
  background-color: #E4EDFD;
}

.options__icon {
  font-size: 22px;
  color: #3369F3;
  margin-right: 15px;
}

/* MODAL */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}

.modal-show {
  display: flex;
}

.modal__content {
  position: relative;
  cursor: auto;
}

.modal__title {
  font-size: 15px;
}